<html>
    <head>
        <center>
            <h1>Student Details-Already Alloted</h1>
        </center>
    </head>
    <body>
        <center>
            Name:{{ details.name }}<br><br>
            Department:{{details.dept}}<br><br>
            Year:{{ details.year }}<br><br>
            Hostel:{{ details.year }}<br><br>
            Room:{{ details.roomid.id }}<br><br>
            Address:{{ details.address }}<br><br>
            Phone Number:{{ details.phone }}<br><br>
        </center>
    </body>
</html>