<html>
    <head>
        <center>
                <h1>
                     Welcome to Student Hostel Allocation Page
                </h1>
        </center>
    </head>
    <body>
        <center>
                <form method="POST" action="hostelAllocation/">
                        <label>Name:</label><input type="text" name="name"/><br>
                        <label>Department:</label><input type="text" placeholder="Abbreviation of dept" name="dept"/><br>
                        <label>Year:</label><input type="number" name="year"/><br>
                        <label>Address:</label><input type="text" name="address"/><br>
                        <label>Phone Number:</label><input type="number" name="phone"/><br>
                        <input type="submit"/>
                </form>
        </center>
        
    </body>
</html>